/** Table of Contents
1.0 General
1.1 OOCSS
2.0 Header
3.0 Body
  3.1 Index Body

.0 smartphones, iPhone, portrait 480x320 phones
.0 portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide.
**/

/* 1.0 General */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0;
}

a:visited, a:link {
  color: black;
  text-decoration: none;
}

#page {
  flex-flow: column nowrap;
  justify-content: space-between;
}

/* 1.1 OOCSS */
#page,
#site-header,
.hd-top,
.site-nav #menu-primary-menu-links,
.index-page,
.index-page .content,
.index-page .secondary-column,
.index-page .content .post-standard
 {
  display: flex;
}
/*
.hd-top,
.site-nav {
  width:100%;
}
*/

/* 2.0 Header */
#site-header {
  width: 100%;
  flex-flow: column wrap;
}
.hd-top {
  flex-flow: row nowrap;
  align-items: flex-start;
  order: 1;
}

.hd-search {
  width: 30%;
  margin-right: 2.5em;
}

.hd-search .screen-reader-text {
  display: none;
}

.hd-search #s {
  width: 68%;
  padding: 7px;
  border: 0px;
  font-size: 1.09em;
  background-color: #f5f3f3;
  color: #1C1C1C;
  border-left: 2px solid #23282d;
  border-bottom: 2px solid #23282d;
  border-top: 2px solid #23282d;
}

.hd-search #searchsubmit {
  width: 15%;
  padding: 8px 0px;
  border: 2px solid #23282d;
  border-bottom-right-radius: 7px;
  background-color: #23282d;
  color: white;
  margin-left: -5px;
  font-size: 1.01em;
}

.hd-title {
  margin: 0px;
  width: 68%;
  padding: 5px 0px 5px 10px;
  border-bottom-left-radius: 7px;
  border-bottom: 2px solid #23282d;
  border-left: 2px solid #23282d;
  background-color: #23282d;
}

.hd-title a {
  color: #fff;
}

.site-nav {
  border-bottom: 2px solid #23282d;
  order: 2;
}

.site-nav .closebtn {
  display:none;
}

.site-nav #menu-primary-menu-links {
  list-style: none;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 10px 0px;
}

.menu-item a {
  padding: 0px 10px;
}
.menu-item a:hover {
  background-color: #232323;
  color: #fff
}

.menu-item-has-children {
  position: relative;
  display: block;
}

ul.sub-menu {
  display: none;
  list-style: none;
  padding: 10px 5px;
  position: absolute;
  min-width:10em;
  background-color: #ccc;
}

ul.sub-menu a {
  width: 100%;
}
.menu-item-has-children:hover ul.sub-menu{
  display:flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.menu-icon {
  display: none;
  padding: 5px 6px;
  background-color: #ccc;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-bottom: 4px solid #ccc;
}

/* 3.0 Body */
/* 3.1 Index Body */
.index-page {
  flex-flow: row nowrap;
  justify-content: center;
  align-items: baseline;
  margin-top: 40px;
}
.index-page .content,
.index-page .secondary-column {
  flex-flow: column nowrap;
  justify-content: space-around;
  /* align-items: flex-start; */
}

.index-page .content {
  order: 1;
  width: 55%;
}
.index-page .secondary-column {
  order: 2;
  width: 20%;
  margin-left:100px;
}

.index-page .post-standard .post-title,
.index-page .post-standard .post-thumbnail,

.index-page .post-standard .excerpt {
  box-shadow: 2px 2px 7px #969696;
  border: 1px solid #969696;
  padding: 5px 7px;
}
.index-page .content .post-standard {
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.index-page .post-standard .excerpt-info {
  order: 1;
  width: 75%;
}
.index-page .post-standard .post-thumbnail {
  order: 2;
  align-self: flex-end;
  width: 20%;
  height: 110px;
}
.index-page .post-standard .post-title {
  background-color: #23282D; /* #4b0b0b */
  margin-bottom: 0px;
  font-size: 1.25em;
}
.index-page .post-standard .post-title a {
  color: #fff;
}
.index-page .post-standard .post-meta {
  font-family: 'Open Sans', sans-serif;
  margin: 10px 0px;
  font-size: 0.8em;
}
.index-page .post-standard .post-meta a {
  color: darkred;
}
.index-page .post-standard .excerpt {
  font-size: 0.95em;
}

/* Media Queries */

/*
@media (min-width:60.063em) { tablet, landscape iPad, lo-res laptops and desktops }
@media (min-width:64.063em) { big landscape tablets, laptops, and desktops }
@media (min-width:80.063em) { hi-res laptops and desktops }
 */

/* .0 smartphones, iPhone, portrait 480x320 phones */
@media all and (min-width:20em) and (max-width:40.063em){

  /* Header */
  .hd-top {
    justify-content:space-between;
  }
  .hd-search,
  .hd-title {
    width:45%;
  }
  .hd-search {
    margin-right:0em;
  }
  .hd-search #s,
  .hd-search #searchsubmit,
  .hd-title{
    padding:5px;
  }
  .hd-search #s,
  .hd-title {
    font-size:1em;
  }
  .hd-title {
    padding-top: 7px;
  }
  .hd-search #s {
    width:10%;
    transition: width .5s ease-in 0s;
    padding-top: 6px;
  }
  .hd-search #s:hover {
    width:70%
  }

  /* TODO: change to mag-glass icon */
  .hd-search #searchsubmit {
    width:15%;
  }
  .hd-title {
    padding-left:0.5em;
    padding-top:8px;
  }

  /* Side nav overlay */
  .site-nav {
    display:none;
    height: 100%;
    position:fixed;
    left:0;
    z-index: 1000;
    background-color: #1B1B1B;

  }
  .site-nav #menu-primary-menu-links {
    font-size:0.875em;
    margin-top: 1.8em;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
    transition: display 1s ease-in 0s;
  }
  .site-nav #menu-primary-menu-links li {
    padding: 10px 0px;
  }
  .site-nav #menu-primary-menu-links a{
    color: #Fff;
    padding: 20px;
  }
  .site-nav .closebtn {
    display:block;
    color: #fff;
    position: absolute;
    top: 0;
    right: 25px;
    cursor:pointer;
    font-size: 1.5em;
  }
  .menu-icon {
    display: block;
    cursor:pointer;
    padding: 7px;
    border-bottom: 0px;
  }

}

/* .0 portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:30.063em) and (max-width:40.063em){
  /* 2.0 Header */
  .hd-search #s,
  .hd-search #searchsubmit,
  .hd-title{
    padding:0.6em;
  }
  .hd-search {
    border-top-width: 3px;
  }
  .hd-search #s {
    border-top-width: 3px;
  }
  .hd-title {
    padding-top: 16px;
    border-bottom: 0px
  }
  .site-nav #menu-primary-menu-links a {
    font-size: 1.3em;
  }
  .menu-icon {
    font-size: 1.5em;
  }
  .site-nav .closebtn {
    font-size: 2.5em;
  }
}

/* .0 portrait tablets, portrait iPad, landscape e-readers,
landscape 800x480 or 854x480 phones */
@media (min-width:40.063em) {

}

/* big landscape tablets, laptops, and desktops */
@media (min-width:64.063em) {

}
